:root {
//BACKGROUNDS
    --color-background-header: #FFFFFF;
    --color-background-main: #F8F9FB;
    --color-background-footer: #000000;

//ACCENTS
    --color-accent-brand: #BC54B5;
    --color-accent-shoe: #FE9384;
    --color-accent-stars: #F1E593; //outline 000000
    --color-footer-icons: #F8F9FB;

//SELECTION
    --color-selection-multi: #115385, #D33A6E, #E6A850;
    --color-selection-blue: #115385;
    --color-selection-red: #D33A6E;

//TEXT
    --color-text-header: #000000;
    --color-text-brand: #F8F9FB;
    --color-text-description: #000000;
    --color-text-size: #303030; //fill F8F9FB
    --color-text-color: #303030; //fill F8F9FB
    --color-text-reviews: #303030; //fill F8F9FB
    --color-text-selection: #000000;
    --color-text-CTA: #F8F9FB;
    --color-text-favorites: #303030;
    --color-text-footerwhite: #FFFFFF;
    --color-text-footergrey: #858585;

//BUTTONS
    --color-background-CTA: #D476D6; //outline 000000
    --color-background-favorites: #F8F9FB; //outline 000000
    --color-background-search: #EFEFEF;
}