.footerContainer {
    display: flex;
    bottom: 0;
    // left: 0;
    // right: 0;
    // height: 12rem;
    margin-top: 10rem;
    width: 100vw;
    background: var(--color-background-footer);

    z-index: 1000;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding-right: 1.25rem;
}

.iconContainer a {
    margin-right: .75rem;
}

.iconContainer a:hover {
    transform: rotate(15deg) scale(1.25);
}

.giftContainer {
    @include footerText;
    color: var(--color-text-footerwhite);
}

.getContainer {
    @include footerText;
    color: var(--color-text-footerwhite);

    &__greyText {
        color: var(--color-text-footergrey);
    }
}

.aboutContainer {
    @include footerText;
    color: var(--color-text-footerwhite);

    &__greyText {
        color: var(--color-text-footergrey);
    }
}

.txtSmall:hover {
    transform: scale(1.10);
}