//Phones landscape
@media screen and (orientation:landscape)
and (min-device-width: 320px) 
and (max-device-width: 879px) 
and (-webkit-min-device-pixel-ratio: 2) {
    .imgContainer {
        margin-left: 1.5rem !important;
    }
 }

//Phones
@media only screen and (max-device-width: 879px) {
    .logo { //Header Nike Logo
        margin-left: 1rem;
        -moz-margin-start : 1rem;
        max-width: 15%;
    }
    
    //Containers

    .headerContainer__rBottom {
        width: 22rem;
    }    

    .mainContainer {
        margin-top: 2rem;
    }

    .imgContainer__border {
        width: 300px;
    }

    .infoContainer {
        height: inherit;
    }

    //Headers + Description

    .infoContainer,
    .infoContainer__hBackground {
        width: 320px;
        margin-left: 0rem;
    }

    .infoContainer__hBackground {
        height: 5rem;
    }

    .infoContainer__header {
        display: flex;
        justify-content: center;
        width: 320px;
        font-size: 3rem;
    }

    .infoContainer__description {
        margin: 4rem 2rem 0 2.75rem;
    }

    .infoContainer__hr {
        width: 70%;
    }

    //Size and Color Section

    .infoMiddle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 235px;
        margin: 1rem 1rem 1rem 1rem;
    }

    .infoMiddle__color {
        margin-left: 0;
        justify-content: space-between;
    }

    //Review Section

    .infoMiddle__reviews {
        display: flex;
        flex-direction: row;
    
    }

    .reviewsActive {
        width: 320px;
        display: flex;
        flex-direction: column;
    }

    .reviewsActive__bottomL {
        width: 300px;
        height: inherit;
    }

    .reviewsActive__bottomR {
        width: 300px;
        height: inherit;
    }

    .reviewsHide {
        display: none;
    }

    //Nike Shoe Images

    .imgContainer {
        width: 320px;
        display: flex;
        flex-direction: column;
        
    }

    //Button

    .buttonGrp {
        width: inherit !important;
        height: 14rem !important;
        flex-direction: column !important;
        justify-content: space-between;
    }
}

//Iphone 4
@media only screen and (orientation:landscape)
and (min-device-width: 480px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .imgContainer {
        margin-left: 0 !important;
    }
}

//Phones
// 666px
@media only screen  
and (max-device-width: 567px)
 {
    // Footer

    .footerContainer {
        align-items: flex-start;
    }

    .giftContainer {
        font-size: 1.05rem;
        // margin-left: .75rem;
        margin-left: auto;
        line-height: 2.2rem;
    }

    .getContainer {
        font-size: 1.05rem;
        // margin-left: .5rem;
        margin-left: auto;
        line-height: 2.2rem;
        width: 10rem;
    }


    .aboutContainer {
        width: 80px;
        font-size: 1.05rem;
        // margin-left: .5rem;
        margin-left: auto;
        line-height: 2.2rem;
    }

    .txtSmall {
        font-size: .83rem;
    }
} 

//Iphone 5/SE 
@media only screen and (orientation:landscape)
and (min-device-width: 568px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .imgContainer {
        margin-left: 0 !important;
    }
}

//Nexus 4 landscape
@media only screen and (orientation:landscape)
and (min-device-width: 640px) 
and (max-device-width: 641px)
and (-webkit-min-device-pixel-ratio: 2) {
    .imgContainer {
        margin-left: .25rem !important;
    }
}

// 870px
//Mobile Navigation breakpoint 
@media only screen and (max-width: 983px) {

//Burger Button Default State
.headerContainer__burger {
    cursor: pointer;
    background-color: transparent;
    height: 1rem;
    width: 3rem;
    margin: 3.25rem 2rem 3.25rem auto;
    z-index: 30000;


    &-1 {
        background-color: rgb(0, 0, 0);
        border-radius: 1rem;
        height: .3rem;
        width: 3rem;
        top: 100%;
    }

    &-2 {
        background-color: rgb(0, 0, 0);
        border-radius: 1rem;
        margin: .2rem 0rem;
        height: .3rem;
        width: 3rem;
        top: 100%;
    }

    &-3 {
        background-color: rgb(0, 0, 0);
        border-radius: 1rem;
        height: .3rem;
        width: 3rem;
        top: 0%;
    }
}

//Burger Button Transition Animation
    .burgerLine {
        transition: .35s ease-in-out;
    }

    .headerContainer__burger-1--open {
        transform: rotate(-140deg) translateY(-8px) translateX(-7px);
        
    }

    .headerContainer__burger-2--open {
        transform: translateY(5px) translateX(0px);
        opacity: 0;
    }

    .headerContainer__burger-3--open {
        transform: rotate(140deg);
    }

//Burger Button Menu Active 
    .headerContainer__burger-active {//Burger Button 
        position: fixed;
        right: 0;
    }

    .burgerLine-active {//Burger Button Color When Mobile Nav Open
        background-color: rgb(255, 255, 255);
    }

    
    .headerContainer__middle {//Shopping Links And Statement Container Hidden
        display: none;
    }

    .headerContainer__middle-active {//Shopping Links And Statement Container Shown
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: black;
        color: white;

        z-index: 1000;
    }

    .headerContainer__middle-purchase-active {//Shopping Links Container Shown
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        height: 50vh;
    }

    .btnactive {//Shopping Links Buttons Shown
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        color: white;
    }

    .headerContainer__rTop {//Search box and icons Hidden
        // display: none;
        display: flex;
        right: inherit;
        width: 22rem;
    }

    .smlScreenCntr { //Div Container For Mobile Only
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .headerContainer__rBottom {//Help, join-us, sign-in buttons Shown
        height: 4rem;
    }
}

//Tablets
@media only screen
and (min-device-width: 768px) 
and (max-device-width: 1000px)
and (-webkit-min-device-pixel-ratio: 2) {
    .imgContainer {
        margin-left: 2rem;
    }

    .headerContainer__middle-purchase button {
        font-size: 1.75rem;
    }
}

//Desktop
@media only screen and (max-width: 650px) {

    .infoContainer__header {
        margin: 0 auto 0 auto;
        font-size: 3.05rem;
    }

    .infoContainer__hBackground {
        height: 4rem;
    }

    .infoMiddle__color {
        width: 45%;
        margin-left: 0;
        margin-right: 55%;
        justify-content: space-between;


    }

    .reviewsActive {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: white;
        margin-bottom: 2rem;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .reviewsActive__bottomL {
        height: auto;
    }

    .reviewsActive__bottomR {
        height: auto;
    }

    // .imgContainer {
    //     margin-top: 7.5rem;
    // }
    
    .iconContainer {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .footerContainer {
        flex-wrap: wrap;
    }

    .giftContainer, .getContainer, .aboutContainer {
        width: 20%;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}

//Desktop
@media only screen and (min-width: 1340px) {

    .infoContainer {
        margin-left: 1.5rem;
    }

    .imgContainer {
        margin-left: 1.5rem;
    }
}

//Desktop And Tablets
@media only screen and (min-width: 500px) and (max-width: 1409px) {

    .buttonGrp {
        width: inherit !important;
        height: 14rem !important;
        flex-direction: column !important;
        justify-content: space-between;
    }

    .infoContainer {
        height: inherit;
        margin-bottom: auto;
    }

    .giftContainer,
    .getContainer,
    .aboutContainer {
        margin-bottom: auto;
    }

    .aboutContainer {
        margin-right: 1rem;
    }
}


//4k Tv
@media only screen and (min-width: 2000px) {

    .mainContainer {
        height: 100vh;
    }

    .buttonGrp {
        width: 100% !important;
        justify-content: center;
    }
}